* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #737373;
}

.chat-container {
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.chat-header {
    background-color: #000000;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bot-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-header h3 {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.chat-header h3 i {
    margin: 0 5px;
}

.trash-icon {
    cursor: pointer;
    color: #d9534f;
    font-size: 20px;
    transition: color 0.3s;
}

.trash-icon:hover {
    color: #f44336;
}

.chat-box {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #222222;
    color: white;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 80%;
    color: black;
}

.received {
    background-color: #ece5dd;
    align-self: flex-start;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.input-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #222222;
    gap: 10px;
    background-color: #403e3e;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    resize: none;
    height: 40px;
    color: white;
    background-color: #222222;
}

button {
    background-color: #00a36f;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #008e60;
}

button i {
    margin: 0;
}

#attachButton {
    background-color: #006fd4;
}

#attachButton:hover {
    background-color: #0056a2;
}

#fileInput {
    display: none;
}
